doctype 5
html
	head
		meta(charset="utf-8")
		meta(name='viewport', content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;")
		title= 'Listing Manager'
		link(rel="stylesheet", type="text/css", href="bootstrap/css/bootstrap.min.css", media="screen")
		link(rel="stylesheet", type="text/css", href="bootstrap/css/bootstrap-responsive.min.css", media="screen")
		link(rel="stylesheet", type="text/css", href="styles.css")

	body
		div.container
			div.row
				div.span3
					h1= 'Console'

					form.form-inline#add_listing(action="", method="", name="listings")
						fieldset
							legend= 'Add a Listing'
							input(type="hidden", name="listing_type", value="for sale")
							input(type="text", name="listing_name", placeholder="Item Name", autofocus)
							br
							input(type="number", name="listing_min", placeholder="min. price", min="0", max="999999")
							br
							input(type="number", name="listing_max", placeholder="max. price", min="0", max="999999")
							br
							button.btn.btn-primary
								i.icon-plus
								strong= " Add"

					form.template(action="", method="", name="cities", id="add_city")
						fieldset
							legend= 'Add cities'
							ul
							input(type="text", name="city_name", placeholder="city Name")
							br
							input.btn(type="submit", value="Add")

				div.span8.offset1.listings
					h1= 'Listings'

					table.table.table-striped
						caption= "Your Listings"
						thead
							tr
								th="Name"
								th="Price Range"
								th.pull-right="Edit"
						tbody
							tr
								td
									h5= "Honda Civic"
								td
									span= "$"
									span= "0"
									span= " - "
									span= "$"
									span= "400"

								td
									div.btn-group.pull-right
										button.btn.btn-info
											i.icon-edit
										button.btn.btn-danger
											i.icon-remove
					
					div.row.listing.template
						div.span4
							h3.name= "Honda Civic"
							h5.type= "for sale"
						div.span2
							h5= "price"
							div.row
								div.span1.min= "min"
								div.span1.max= "max"
						div.span2
							h5= "edit"
							div.btn-group
								button.btn.btn-info
									i.icon-edit
								button.btn.btn-danger
									i.icon-remove


						ul
							li.template.listing
								span(class="price") Price:
									hr
									span(class="min")
									span -
									span(class="max")
								h3(class="name")
								h6(class="type")

			hr
			div.row
				div= 'Admin:'
				a(href="/api/listings/reset") DELETE ALL

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
		script(src="bootstrap/js/bootstrap.min.js")
		script(src="client.js")