extends layout

block content

	div#results_modal.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="resultsModal", aria-hidden="true")
		div.modal-header
			h3#resultsModal
			button.btn.btn-danger.pull-right(class="btn", data-dismiss="modal", aria-hidden="true") close
		div.modal-body
			div#results_modal_list
		div.modal-footer
			div &nbsp;




	div.container
		div.row
			div.span4.offset4
				center
					h3.title= locals.user.name + ' - Listing Manager '
						span= '&#946;'

		div.row
			div.span4

				div.tabbable
					ul.nav.nav-tabs#tab_pane
						li.active
							a(href="#new", data-toggle="tab")= "New Listing"
						li
							a(href="#admin", data-toggle="tab")= "Admin"
								case locals.user.email
									when ''
										small.hint= " <-- add email addr to receive updates"

					div.tab-content
						div.tab-pane.active#new
							form#add_listing(action="", method="", name="listings")

								label
									strong.lead.lead-sm Search keyword
										small= " (required):"
									input.span4(type="text", name="listing_name", placeholder="keyword", autofocus)

								select.span4(name="listing_type")
									option(value='for sale', selected='selected')= 'for sale'
									option(value='housing', disabled='disabled')= 'housing'
								
								label
									strong.lead.lead-sm Select cities to search for this listing
										small= " (required):"
									select.span4(name="listing_cities", multiple="multiple")
										option(value='atlanta')= 'atlanta'
										option(value='austin')= 'austin'
										option(value='boston')= 'boston'
										option(value='chicago')= 'chicago'
										option(value='dallas')= 'dallas'
										option(value='denver')= 'denver'
										option(value='detroit')= 'detroit'
										option(value='houston')= 'houston'
										option(value='lasvegas')= 'las vegas'
										option(value='losangeles')= 'los angeles'
										option(value='miami')= 'miami'
										option(value='minneapolis')= 'minneapolis'
										option(value='newyork')= 'new york'
										option(value='orangecounty')= 'orange county'
										option(value='philadelphia')= 'philadelphia'
										option(value='phoenix')= 'phoenix'
										option(value='portland')= 'portland'
										option(value='raleigh')= 'raleigh'
										option(value='sacramento')= 'sacramento'
										option(value='sandiego')= 'san diego'
										option(value='seattle')= 'seattle'
										option(value='sfbay')= 'sf bay area'
										option(value='washingtondc')= 'washington dc'

								label
									strong.lead.lead-sm Add a price range
										small= " (optional):"
									input.span4(type="number", name="listing_min", placeholder="min. price", min="0", max="999999")
								label
									input.span4(type="number", name="listing_max", placeholder="max. price", min="0", max="999999")
								input(type="hidden", name="user_id", value=locals.user._id)
								center
									button.btn.btn-success
										i.icon-plus
										strong= " Add"

						div.tab-pane#admin
							case locals.user.email
								when ''
									form#admin_form(action="", method="", name="admin")
										label
											strong add email
											input.span4(type="text", name="email", placeholder="email address", autofocus)
										center
											button.btn.btn-success
												i.icon-ok
												strong= " Save"
								default
									hr
	
							p= 'Scrape Frequency: 1/hour'
							p= "Email Frequency: 2/day \(5:00 AM & PM)"


			div.span7.offset1.listings

				table.table.table-striped
					caption
						h3= "Listings"
					thead.well.well-large
						tr
							th
								p.lead &nbsp; Keyword
							th
								p.lead Cities
							th
								p.lead Price
							th
								p.lead 
									center . . .
					tbody
						tr#roading

						tr.listing.template
							td.title.span2
								h5.name.lead.lead-sm
							td.area
								span.cities.lead.lead-sm
							td.price.span2.lead.lead-sm
								span= "$"
								span.min
								span= " - "
								span= "$"
								span.max

							td.edit.span2
								form.edit_listing(action="", method="")
									div.btn-group.pull-right
										button.btn.new_results.view.btn-small.hide
										button.btn.btn-inverted.disabled.view
											i.icon-list
											span.results(style="display: none")
												ol.r_l.hide
										input.listing_id(type='hidden', value='')
										button.btn.btn-danger.pull-right.del
											i.icon-remove

block script
	script(src="js/bootstrap.min.js")